body
{
  text-align: center;
  font-family: monospace;
  margin: 0px;
}

#header
{
  margin: 0px;
  width: 100%;
  background-color: #335655;
  background-image: url("Images/ymircrop.JPG");
  background-size: cover;
  background-position: center;
  border: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  filter: grayscale() contrast(200%);
}

#header h1
{
  text-align: left;
  filter: contrast(100%);
  color: white;
  font-size: 22px;
  margin-left: 10px;
}
